@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    --primary-text: #fff;
    --primary-accent: #186b5c;
    --secondary-accent: #ffea02;
}
body { 
    background-color: rgb(29, 26, 26);
    background-image: url("/img/greycamo-background.jpg");
    color: var(--primary-text);
    font-family: 'Nova Square', cursive;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.hero { 
    background: linear-gradient(45deg, rgba(27, 49, 45, 0.5) 10%, rgba(27, 49, 45, 0.4));
}
a {
    color: var(--primary-text)
}

#gameTitle {
    font-weight: bold;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--primary-text);
    background: #186b5c;
    border: none;
    border-radius: 4px;
    min-width: 20rem;
}
.space-out {
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.btn:disabled { 
    color: gray;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(24, 107, 92, 0.5);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
.home {
    text-align: center;
}
.highscore-btn {
    background-color: var(--secondary-accent);
    color: #000;
}

.highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(240, 221, 6, 0.5)
}

/* End Page CSS */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    outline: none;
}
#end {
    text-align: center;
}

.fa-home {
    margin-left: 1rem;
}
.fa-crown {
    margin-left: 1rem;
}