@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
    --text-primary: #fff;
    --primary-accent: #186b5c;
    --secondary-accent: #ffea02;
}
h1, h2 {
    color:var(--text-primary) !important;
}
body {
    font-family: 'Nova Square', sans-serif;
    color: var(--text-primary);
    background-image: url("/img/greycamo-background.jpg");
}
.section {
    width: 100%;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.hero-banner { 
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(27, 49, 45, 0.5) 10%, rgba(27, 49, 45, 0.4));
}
.choice-container {
    border-radius: 4px;
    background-color: var(--primary-accent);
    transition: all 100ms;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(24, 107, 92, 0.5);
    transform: scale(1.02);
}
.choice-text {
    width: 100%;
}
.correct {
    background-color: #29e86f;
    /* background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%); */
}

.incorrect {
    background-color: red;
    /* background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%); */
}
#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #29e86f;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
}

#progressBarFull {
    height: 100%;
    background: #29e86f;
    width: 0%;
}
#question {
    font-size: 2rem;
    min-height: 144px;
    display: grid;
    place-items: center;
}
#highScoresList {
    list-style: none;
    font-size: 1.4rem;
}
.button:not([disabled]):hover {
    transform: scale(1.02);
    transition: all 100ms;
}
.button.is-primary:not([disabled]):hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(24, 107, 92, 0.5);
}
.button.is-warning:not([disabled]):hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(240, 221, 6, 0.5)
}
.button.is-primary {
    background-color: var(--primary-accent) !important;
    border-color: var(--primary-accent) !important;
}
.button.is-warning {
    background-color: var(--secondary-accent) !important;
    border-color: var(--secondary-accent) !important;
}
@media only screen and (max-width: 768px) {
    .hud-item {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
    }
}